@model Applications.WebClient.Models.ViewModel.AdminPasswordVM

<div style="display:flex;">
    <div class="col-md-4">
        <div class="form-group" style="float:left;">
            <label class="control-label">Admin password</label>
            <input type="password" id="admin-pass-text"
                   value="@Model.Password"
                   class="form-control" />
            <span id="admin-password-errror" class="text-danger">@Model.Error</span>
        </div>
        <div style="float:left; margin-left:10px; padding-top:30px">
            <input type="submit" id="admin-pass-button"
                   value="Enter" class="btn btn-primary" />
        </div>
    </div>
</div>