@model Applications.WebClient.Models.ViewModel.PaginationVM

@if (Model.PageCount > 1)
{
    <div class="pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    @if (Model.PageNumber > 1 + Model.SurroundingPagesNumber)
                    {
                        <a class="page-link">1</a>
                    }
                </li>
                <li class="page-item"></li>
                @for (int i = Model.SurroundingPagesNumber; i > 0; i--)
                {
                    <li class="page-item">
                        @if (Model.PageNumber - i >= 1)
                        {
                            <a class="page-link">@(Model.PageNumber - i)</a>
                        }
                    </li>
                }
                <li class="page-item active">
                    <a class="page-link">@Model.PageNumber</a>
                </li>
                @for (int i = 1; i <= Model.SurroundingPagesNumber; i++)
                {
                    <li class="page-item">
                        @if (Model.PageNumber + i <= Model.PageCount)
                        {
                            <a class="page-link">@(Model.PageNumber + i)</a>
                        }
                    </li>
                }
                <li class="page-item"></li>
                <li class="page-item">
                    @if (Model.PageNumber < Model.PageCount - Model.SurroundingPagesNumber)
                    {
                        <a class="page-link">@Model.PageCount</a>
                    }
                </li>
            </ul>
        </nav>
    </div>
}