@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Greska.</h1>
<h2 class="text-danger">@Model.Message</h2>
<div id="back-link">
</div>

@section Scripts{
    <script>
        let backLink = document.referrer;
        if (backLink == '') {
            backLink = '/';
        }
        document.getElementById('back-link').innerHTML = '<a href="' + backLink + '">Back </a>';
    </script>
}